.login-container{

  width:100vw;
  height:100vh;

  display:flex;

  justify-content:center;

  align-items:center;

  background:#f4f7fb;

}

.login-card{

  width:420px;

  padding:40px;

  border-radius:15px;

}

h1{

  text-align:center;

  color:#1565c0;

  margin-bottom:10px;

}

h3{

  text-align:center;

  color:gray;

  margin-bottom:30px;

}

mat-form-field{

  width:100%;

  margin-bottom:15px;

}

.login-btn{

  width:100%;

  margin-top:20px;

  height:48px;

}
