.employee-form{

  max-width:900px;

}

.form-grid{

  display:grid;

  grid-template-columns:repeat(2,1fr);

  gap:20px;

}

.form-group{

  display:flex;

  flex-direction:column;

}

input,
select{

  padding:10px;

}
