<h2>Allocations</h2>

@if (loading) {

  <mat-spinner></mat-spinner>

} @else {

  <!-- Toolbar -->

  <div class="toolbar">

    <button
      mat-raised-button
      color="primary"
      routerLink="/allocations/create">

      Allocate Asset

    </button>

    <mat-form-field appearance="outline">

      <mat-label>Search Allocation</mat-label>

      <input
        matInput
        placeholder="Asset Code / Employee"
        [(ngModel)]="keyword"
        (keyup.enter)="search()">

    </mat-form-field>

    <button
      mat-raised-button
      color="accent"
      (click)="search()">

      Search

    </button>

    <button
      mat-button
      color="warn"
      (click)="keyword=''; loadAllocations()">

      Clear

    </button>

  </div>

  <br>

  <table
    mat-table
    [dataSource]="allocations">

    <!-- Asset -->

    <ng-container matColumnDef="assetCode">

      <th mat-header-cell *matHeaderCellDef>

        Asset

      </th>

      <td mat-cell *matCellDef="let allocation">

        <a
          [routerLink]="['/assets', allocation.assetId]">

          {{ allocation.assetCode }}

        </a>

      </td>

    </ng-container>

    <!-- Employee -->

    <ng-container matColumnDef="employeeName">

      <th mat-header-cell *matHeaderCellDef>

        Employee

      </th>

      <td mat-cell *matCellDef="let allocation">

        {{ allocation.employeeName }}

      </td>

    </ng-container>

    <!-- Allocated Date -->

    <ng-container matColumnDef="allocatedDate">

      <th mat-header-cell *matHeaderCellDef>

        Allocated

      </th>

      <td mat-cell *matCellDef="let allocation">

        {{ allocation.allocatedDate }}

      </td>

    </ng-container>

    <!-- Expected Return -->

    <ng-container matColumnDef="expectedReturnDate">

      <th mat-header-cell *matHeaderCellDef>

        Expected Return

      </th>

      <td mat-cell *matCellDef="let allocation">

        {{ allocation.expectedReturnDate }}

      </td>

    </ng-container>

    <!-- Status -->

    <ng-container matColumnDef="status">

      <th mat-header-cell *matHeaderCellDef>

        Status

      </th>

      <td mat-cell *matCellDef="let allocation">

        {{ allocation.status }}

      </td>

    </ng-container>

    <!-- Action -->

    <ng-container matColumnDef="action">

      <th mat-header-cell *matHeaderCellDef>

        Action

      </th>

      <td mat-cell *matCellDef="let allocation">

        @if (allocation.status === 'ACTIVE') {

          <button
            mat-raised-button
            color="warn"
            (click)="returnAsset(allocation.id)">

            Return

          </button>

        }

      </td>

    </ng-container>

    <tr
      mat-header-row
      *matHeaderRowDef="displayedColumns">
    </tr>

    <tr
      mat-row
      *matRowDef="let row; columns: displayedColumns">
    </tr>

  </table>

}
